.iconImage {
  border-radius: 100%;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.accountItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  margin-bottom: 1rem;

  a {
    width: 60px;
    height: 60px;
    background: "transparent";
    margin-bottom:0.2rem;
  }
}
